body{
    background-color: rgb(57, 137, 211);
    text-align: center;
    font-family: sans-serif;
}

h1{
    color: darkblue;
    font-size: 3rem;
    margin-top: 50px;
}

.kutu-alanı {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.btn {
    margin: 25px;
    width: 300px;
    height: 300px;
    border: 4px solid darkblue;
    border-radius: 20%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    color : rgba(0,0,0,0.3);
}

.yeşil {
    background-color: green;
}

.kırmızı {
    background-color: red;
}
.sarı {
    background-color: yellow;
}
.mavi {
    background-color: blue;
}
.basildi {
    box-shadow: 0 0 20px white;
    background-color: rgb(255, 255, 255);
}
#skor {
    color: white;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}